<!DOCTYPE html>
<head>
    <title>Terminal</title>
    <link rel="stylesheet" href="https://unpkg.com/xterm@4.11.0/css/xterm.css" />
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <style>
        .active {
            display: block;
        }
        .inactive {
            display: none;
        }
    </style>
</head>
<body>
    <div id="terminal" class="inactive"></div>
    <div id="disconnected" class="active">
        Terminal Disconnected.
    </div>
</body>
<!-- xterm -->
<script src="https://unpkg.com/xterm@4.11.0/lib/xterm.js"></script>
<script src="https://unpkg.com/xterm-addon-fit@0.5.0/lib/xterm-addon-fit.js"></script>
<script src="https://unpkg.com/xterm-addon-web-links@0.4.0/lib/xterm-addon-web-links.js"></script>
<script src="https://unpkg.com/xterm-addon-search@0.8.0/lib/xterm-addon-search.js"></script>

<!-- socketio -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

<!-- user script -->
<script type="text/javascript" charset="utf-8">

function debounce(func, wait_ms) {
    let timeout;
    return function (...args) {
        clearTimeout(timeout);
        timeout = setTimeout(() => func(args), wait_ms);
    };
}

class Substrate_Terminal {
    constructor(namespace, element, socketio){
        this.element = element;
        this.socket = socketio || io(namespace);
        this.terminal = new Terminal({
            cursorBlink: true,
            macOptionIsMeta: true,
            scrollback: true,
            allowTransparency: true,
            theme: {
                background: 'rgba(0,0,0,0.25)'
            }
        });
        // https://github.com/xtermjs/xterm.js/issues/2941
        this.fit = new FitAddon.FitAddon();
        this.terminal.loadAddon(this.fit);
        this.terminal.loadAddon(new WebLinksAddon.WebLinksAddon());
        this.terminal.loadAddon(new SearchAddon.SearchAddon());

        this.terminal.open(element);
        this.fitToScreen();
        
        this.socket.on('connect', () => {
            this.socket.emit("pty-input", { input: '\r' });
            this.fitToScreen.bind(this);
        });  
        this.terminal.onData(data => { this.socket.emit("pty-input", { input: data }); });
        this.socket.on("pty-output", data => { this.terminal.write(data.output); });    

        addEventListener('resize', debounce(this.fitToScreen.bind(this), 50));
    }
    
    fitToScreen() {
        this.fit.fit();
        const dims = { cols: this.terminal.cols, rows: this.terminal.rows };
        this.socket.emit("resize", dims);
    }

    kill() {
        this.terminal.dispose();
        return null;
    }
};

(function main(){
    const pty = "{{data.pty}}"; //jinja2
    const socket = io(pty);

    const disconnected_element = document.getElementById('disconnected');
    const terminal_element = document.getElementById('terminal');

    let terminal = null;

    socket.on('connect', () => {
        disconnected_element.classList.remove('active');
        disconnected_element.classList.add('inactive');
        terminal_element.classList.remove('inactive');
        terminal_element.classList.add('active');

        if(terminal == null){
            terminal = new Substrate_Terminal(pty, terminal_element, socket);
            terminal.fitToScreen();
        }
    });  

    socket.on('disconnect', () => {
        disconnected_element.classList.remove('inactive');
        disconnected_element.classList.add('active');
        terminal_element.classList.remove('active');
        terminal_element.classList.add('inactive');

        if(terminal){
            terminal = terminal.kill();
        }
    });


    
})();

</script>

</html>