<!doctype html>
    <head>
        <title>Substrate HPC</title>
        <style>
            * {
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                margin: 0px;
                padding: 0px;
            }
            html, body {
                height: 100%;
                width: 100%;
            }
            #debug {
                position: fixed;
                top: 0px;
                right: 0px;
                width: 20%;
                height: 200px;
            }
            #application_iframe, #application {
                width: 100%;
                height: 100%;
                border: none;
                padding: 0px;
                margin: 0px;
            }
        </style>
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
        <link rel="stylesheet" href="https://unpkg.com/xterm@4.11.0/css/xterm.css" />
    </head>

    <body>
        <div id="debug">
            <button onclick="salloc()">New Cluster</button>
            <button>Kill Cluster</button>
            <button>Scale Cluster</button>
            <button>Restart Service</button>
            <button onclick="kill_server()">Shutdown</button>
            <p>Cluster Status: <span id="clusterStatus">Offline</span></p>
            <div id="terminal_login"></div>
            <div id="terminal_cluster"></div>
        </div>
        <div id="application">
            <iframe id="application_iframe" src="./cluster_down"></iframe>
        </div>
    </body>
    
    <!-- xterm -->
    <script src="https://unpkg.com/xterm@4.11.0/lib/xterm.js"></script>
    <script src="https://unpkg.com/xterm-addon-fit@0.5.0/lib/xterm-addon-fit.js"></script>
    <script src="https://unpkg.com/xterm-addon-web-links@0.4.0/lib/xterm-addon-web-links.js"></script>
    <script src="https://unpkg.com/xterm-addon-search@0.8.0/lib/xterm-addon-search.js"></script>
    
    <!-- socketio -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    
    <!-- user script -->
    <script type="text/javascript" charset="utf-8">

    /*
        TODO:
        1. get terminal working within cluster
            - ✓ remote server
            - ✓ needs remote server to create new pty
            - X create ssh tunnel from remote to local
            - ✓ remote server will be primary service with substrate tool forked off, this way you can restart the process from within the node
        2. shutdown button
        3. new cluster button
        4. restart server on cluster button
        5. scale cluster button
        6. style CSS better - debug/cluster_down page
        7. integrate into substrate
    */



    
    const socket = io('/');
    const clusterStatusElement = document.getElementById('clusterStatus');
    let clusterConnected = false;


    class Substrate_Terminal {
        constructor(namespace, element){
            this.element = element;
            this.socket = io(namespace);
            this.terminal = new Terminal({
                cursorBlink: true,
                macOptionIsMeta: true,
                scrollback: true,
                allowTransparency: true,
                theme: {
                    background: 'rgba(0,0,0,0.25)'
                }
            });
            // https://github.com/xtermjs/xterm.js/issues/2941
            this.fit = new FitAddon.FitAddon();
            this.terminal.loadAddon(this.fit);
            this.terminal.loadAddon(new WebLinksAddon.WebLinksAddon());
            this.terminal.loadAddon(new SearchAddon.SearchAddon());

            this.terminal.open(element);
            this.fit.fit();
            
            this.socket.on('connect', () => {
                this.fitToscreen.bind(this);
                this.socket.emit("pty-input", { input: '\r' });
            });  
            this.terminal.onData(data => { this.socket.emit("pty-input", { input: data }); });
            this.socket.on("pty-output", data => { this.terminal.write(data.output); });    

            addEventListener('resize', debounce(this.fitToscreen.bind(this), 50));
             
        }
        
        fitToscreen() {
            this.fit.fit();
            const dims = { cols: this.terminal.cols, rows: this.terminal.rows };
            this.socket.emit("resize", dims);
        }
    }

    function query_get(query){
        const url = new URL(`${window.location}command`);
        for(const [key, value] of Object.entries(query)){
            url.searchParams.set(key, value);
        }
        return fetch(url.href)
    }

    function kill_server(){
        return query_get({'command': 'kill'})
        .then(res => res.json()).then(data => {
            console.log(data);
        });
    }

    function salloc(){
        return query_get({'command': 'spawn'})
        .then(res => res.json()).then(data => {
            console.log(data);
        });
    }
        
    function debounce(func, wait_ms) {
        let timeout;
        return function (...args) {
          clearTimeout(timeout);
          timeout = setTimeout(() => func(args), wait_ms);
        };
    }

    function init_app(port){
        const iframe = document.getElementById('application_iframe')
        iframe.src = `127.0.0.1:${port}`
    }

    function destroy_app(){
        const iframe = document.getElementById('application_iframe');
        iframe.src = 'cluster_down.html'
    }

    (function main(){
        const terminals = {
            login: new Substrate_Terminal('/pty1', document.getElementById('terminal_login')),
            cluster: null,
        };

        //arbitration server
        socket.on('connect', () => {
            clusterStatusElement.innerHTML = "connecting..."
        });  
        socket.on('disconnect', () => {})

        //cluster status
        socket.on('cluster_estimate', (data) => {
            clusterStatusElement.innerHTML = `connecting... Estimated wait time: ${data.output}`
        });

        //cluster events
        socket.on('cluster_connected', (data) => {
            terminals.cluster = new Substrate_Terminal('/pty2', document.getElementById('terminal_cluster'))
            clusterStatusElement.innerHTML = 'connected'
            clusterConnected = true;
            init_app(data.port);
        });
        socket.on('cluster_disconnected', (data) => {
            terminals.clsuter = null;
            clusterStatusElement.innerHTML = 'disconnected'
            clusterConnected = false;
            destroy_app();
        })
    })();

    </script>
</html>
